.navbar-collapse ul li ul {
    display: none;
}

.navbar-collapse ul li:hover ul {
    display: block;
}

.no-transition {
  -webkit-transition: height 0.05s;
  -moz-transition: height 0.05s;
  -ms-transition: height 0.05s;
  -o-transition: height 0.05s;
  transition: height 0.05s;
}

.wrapper-dropdown .ddstyle {
    width: 280px;
    padding-left: 0px;
}

.wrapper-dropdown ul li {
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper-dropdown ul li:first-child {
    padding-top: 10px;
}

.wrapper-dropdown ul li:last-child {
    padding-bottom: 10px;
}

.wrapper-dropdown {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown > a {
    color: #777;
    text-decoration: none;  
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
}

.wrapper-dropdown .icon {
    float: left !important;
    padding-right: 10px;
}

.wrapper-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: -90px;
    right: 0;
    z-index: 10;
    background: white;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    list-style: none;
}

.wrapper-dropdown .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 142px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 140px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown .dropdown li a {
    display: block;
    padding: 10px;
    color: #777777;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown .dropdown li:hover a {
    background: #f3f8f8;
}

@media (max-width: 767px) {

    .wrapper-dropdown .dropdown {
        position: absolute;
        top: -45px;
        left: 80px;
        right: 0px;
    }

    .wrapper-dropdown .dropdown:after {
        top: 20px;
        left: -6px;
        border-width: 6px 6px 6px 0px;
        border-color: transparent #fff ;    
    }

    .wrapper-dropdown .dropdown:before {    
        top: 18px;
        left: -8px;
        border-width: 8px 8px 8px 0px;
        border-color: transparent rgba(0,0,0,0.1) ;    
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        overflow: visible;
    }
}