.empty-padding {
	padding: 0px;
}

.product-showcase-item {
	padding-top: 150px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	border-bottom: 1px dotted #dadada;
}

.empty-padding .even {
	background-color: #ffffff;
}

.empty-padding .odd {
	background-color: #f8f8f8;
}

.product-showcase-item .left-panel {
	padding-left: 100px;

}

.product-showcase-item .right-panel {
	padding-left: 20px;
}

.product-showcase-item .right-panel img {
	float: right;
}

.product-showcase-item .text {
	padding-top: 40px;
}

.product-showcase-item .icon {
	font-size: 28px;
	padding-right: 12px;
	color: #666;
}

.product-showcase-item .carousel-content-container-horizontal {
	text-align: center;
	height: 100%;
	vertical-align: middle;
}

.product-showcase-item .carousel-content-container-vertical {
	position: relative;
	top: 50%;
}

.product-showcase-item h4 {
	font: 300 1.5em Roboto,Arial,Helvetica;
	margin-bottom: 1em;
}

.product-showcase-item ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 10px;
}

.product-showcase-item li {
 	padding-left: 1em;
 	padding-top: 4px;
 	padding-bottom: 4px;
}

.product-showcase-item li:before {
	font: normal normal normal 14px/1 FontAwesome;
  	content: "\f0a3";
  	padding-right: 5px;
}

.button-container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.row {
    margin-right: 0px;
}

.product-img-1 {
    background: url("../../images/product-cad-processing/001.png");
    background-repeat:no-repeat;
    background-position:fixed;
    background-size: cover;
}

.product-img-2 {
    background: url("../../images/product-cad-processing/002.png");
    background-repeat:no-repeat;
    background-position:fixed;
    background-size: cover;
}

.product-img-3 {
    background: url("../../images/product-cad-processing/003.png");
    background-repeat:no-repeat;
    background-position:fixed;
    background-size: cover;
}

.row-full-height {
  height: 100%;
}

.col-full-height {
  height: 100%;
  vertical-align: middle;
}

.row-same-height {
  display: table;
  width: 100%;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (max-width: 1500px) {
    .text { width: 450px; }
}

@media (min-width: 768px) {
    .row-same-height { table-layout: fixed; }
}

@media (max-width: 530px) {
    .product-showcase-item .left-panel { padding-left: 20px; }
    .text {  width: 300px; }
    .product-showcase-item { padding-top: 100px; }
}

@media (max-width: 980px) {
    .bottom-image {
        position: relative !important;
        height: 400px;
        width: 2000px;
    }

    .right-panel {
        display: none;
    }

    .left-panel {
        width: 100%;
    }

    .product-showcase-item {
        padding-right: 0px;
        padding-top: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 980px) and (min-width: 421px){
    .product-text {
        padding-left: 50px;
        padding-bottom: 20px;
    }
}

@media (min-width: 980px) {
    .bottom-image { display: none; }
}

@media (max-width: 420px) {
    .product-text {
        padding-left: 0px;
        min-width: 300px;
        padding-bottom: 10px;
    }

    .product-showcase-item { padding-left: 0px;}
}