.empty-padding {
	padding: 0px;
}

.product-showcase-item {
	padding-top: 150px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	border-bottom: 1px dotted #dadada;
}

.empty-padding .even {
	background-color: #ffffff;
}

.empty-padding .odd {
	background-color: #f8f8f8;
}

.product-showcase-item .left-panel {
	padding-left: 100px;
	padding-right: 20px;
}

.product-showcase-item .right-panel {
	padding-left: 20px;
}

.product-showcase-item .right-panel img {
	float: right;
}

.product-showcase-item .text {
	padding-top: 40px;
}

.product-showcase-item .icon {
	font-size: 28px;
	padding-right: 12px;
	color: #666;
}

.product-showcase-item .carousel-content-container-horizontal {
	text-align: center;
	height: 100%;
	vertical-align: middle;
}

.product-showcase-item .carousel-content-container-vertical {
	position: relative;
	top: 50%;
}

.product-showcase-item h4 {
	font: 300 1.5em Roboto,Arial,Helvetica;
	margin-bottom: 1em;
}

.product-showcase-item ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 10px;
}

.product-showcase-item li {
 	padding-left: 1em;
 	padding-top: 4px;
 	padding-bottom: 4px;
}

.product-showcase-item li:before {
	font: normal normal normal 14px/1 FontAwesome;
  	content: "\f0a3";
  	padding-right: 5px;
}

.button-container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.row {
    margin-right: 0px;
}

.product-img-1 {
    background: url("../../images/product-cad-processing/001.png");
    background-repeat:no-repeat;
    background-position:fixed;
}

.product-img-2 {
    background: url("../../images/product-cad-processing/002.png");
    background-repeat:no-repeat;
    background-position:fixed;
}

.product-img-3 {
    background: url("../../images/product-cad-processing/003.png");
    background-repeat:no-repeat;
    background-position:fixed;
}

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */

}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (max-width: 1500px) {
    .text {
        width: 450px;
    }
}

@media (min-width: 767px) {
    .row-same-height {
        table-layout: fixed;
    }
}

@media (max-width: 767px) {
    .product-showcase-item .left-panel {
      padding-left: 10px;
    }
    .text {
        width: 300px;
    }
}

@media (max-width: 450px) {
    .right-panel {
        display: none;
    }
}