.empty-padding {
	padding: 0px;
}

.product-showcase-item {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px dotted #dadada;
	height: 600px;
}

.empty-padding .even {
	background-color: #ffffff;
}

.empty-padding .odd {
	background-color: #f8f8f8;
}

.product-showcase-item .left-panel {
	background-color: red;
	color: white;
}

.product-showcase-item .right-panel {
	background-color: green;
	color: white;
}

.button-container {
	padding-top: 100px;
	padding-bottom: 100px;
}