/* Generic */
/* =============================================================== */
html, body {
	color: #666;
	font: 300 16px/16px Roboto,Arial,Helvetica;
	background-color: #fff;
	-webkit-font-smoothing:antialiased;
	margin: 0;
	padding: 0;
	height: 100%;
}

a { color: #00a9c6; text-decoration: none; }
a:hover { color: #666; }

a,a:hover {
	outline: none !important;
}

.main-content {
	min-height: 100%;
	position: relative;
}

/* Header */
/* =============================================================== */

.topbar {
	background-color: red;
	height: 4px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1000;
}

.navbar { min-width: 300px; }
.navbar-nav > li > a { font-size: 1em;line-height: 3.6em; }
.navbar-fixed-top { top: 4px; }

.navbar-default .navbar-nav>.active > a:hover {
	background: none;
	color: #21abca;
}

.navbar-default .navbar-nav>.active > a, .navbar-default .navbar-nav > .active > a:focus {
	background: none;
	color: red;
	font-weight: bold;
}

.navbar-brand {
  padding: 13px 15px;
}

.navbar-default .navbar-nav > li > a{
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: red;
}

/* Content */
/* =============================================================== */

.content {
	padding-left: 0px;
	padding-right: 0px;
}

.page-content {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Carousel */
/* =============================================================== */

#owl-carousel .carousel-content-background {
    display: block;
    width: 100%;
}

#owl-carousel .carousel-content-container-wrapper {
    position:relative;
}

#owl-carousel .carousel-content-container {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-shadow: 10px 1px 20px rgba(0,0,0,.6);
    color: white;
}

#owl-carousel .carousel-content-container-horizontal {
	text-align: center;
	height: 100%;
	vertical-align: middle;
}

#owl-carousel .carousel-content-container-vertical {
	position: relative;
	top: 50%;
}

#owl-carousel .carousel-content-container-item a {
	color: #fff;
	text-decoration: none;
}

#owl-carousel .carousel-content-container-item h2 {
	font: 600 4.3em Roboto,Arial,Helvetica;
	margin-top: -80px;
	-webkit-animation-duration: 1.0s;
    animation-duration: 1.0s;
}

#owl-carousel .carousel-content-container-item p {
	font: 100 1.8em Roboto,Arial,Helvetica;
	text-shadow: 1px 1px 6px rgba(0,0,0,1.0);
	-webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

/* Home Page Content */
/* =============================================================== */

#home-page-content {
	font: 300 16px/16px Roboto,Arial,Helvetica;
	color: #333;
	padding-bottom: 50px;
}

#home-page-content .column {
	padding-left: 15px;
	padding-right: 15px;
}

#home-page-content .icon {
	font-size: 28px;
	padding-right: 12px;
	color: #666;
}

#home-page-content h4 {
	font: 300 1.5em Roboto,Arial,Helvetica;
	margin-bottom: 1em;
}

#home-page-content p {
	font-size:1em;
	line-height: 1.7em;
	margin-bottom: 1.7em;
}

/* Footer */
/* =============================================================== */

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #f8f8f8;
	border-top: 1px solid #e7e7e7;
	padding: 20px;
	padding-bottom: 20px;
}

.footer-brand {
	margin-bottom: 25px;
}

.footer-brand-image {
	opacity: 1.0
}

.footer-column {
	padding-bottom: 12px;
	margin-left: 3px;
	margin-right: 3px;
}

.footer-column-header {
	font-weight: bold;
	color: #777;
	padding-bottom: 5px;
}

.footer-column-header-fix {
	margin-top: -16px;
	margin-bottom: -16px;
}

.footer .address-paragraph {
	margin-bottom: -12px;
}

.footer-column-link {
	font-size: 16px;
	color: #777;
}

.footer-column-link:hover {
	color: red;
	text-decoration: none;
}

.footer-location {
	float: right;
	width: 280px;
}

.footer-location-address {
	margin-left: -15px;
}

.footer .icon-padding-1 {
	padding-left: 13px;
}

.footer .icon-padding-2 {
	margin-left: -15px;
}

.footer .icon-group {
	padding-top: 8px;
	margin-bottom: 6px;
}

.footer .icon-group-bottom {
	font-size: 30px;
}

.footer .icon-group-top {
	font-size: 13px;
	margin-top: -5px
}

.footer .address-location {
	margin-left: 45px;
}

.footer .address-location-last {
	margin-bottom: -10px;
}

.footer-column-email-link {
	margin-left: -15px;
}

/* Media Specific */
/* =============================================================== */

@media (max-width: 1200px) {
	/* Generic */
	/* =============================================================== */
	body { font:300 16px/16px Roboto,Arial,Helvetica; }

	/* Header */
	/* =============================================================== */
	.navbar-brand { padding-top: 11px; }
	.navbar-brand img { height: 47px; margin-top: 6px; padding-top: 8px }

	/* Carousel */
	/* =============================================================== */
	#owl-carousel .carousel-content-container-item h2 {
		font-size: 2.8em;
		margin-top: -70px;
	}

	#owl-carousel .carousel-content-container-item p {
		font-size: 1.4em;
	}
}

@media (max-width: 900px) {
	/* Carousel */
	/* =============================================================== */
	#owl-carousel .carousel-content-container-item h2 {
		font-size: 2.6em;
		margin-top: -50px;
	}

	#owl-carousel .carousel-content-container-item p {
		font-size: 1.4em;
	}
}

@media (max-width: 767px) {
	/* Generic */
	/* =============================================================== */
	body { font:300 14px/14px Roboto,Arial,Helvetica; }

	/* Header */
	/* =============================================================== */
	.navbar-nav > li > a { line-height: 1em; }	
	.navbar-brand { padding: 7px; padding-left: 35px; }
	.navbar-brand img { height: 37px; }
	.navbar-toggle { margin-top: 15px; }

	/* Carousel */
	/* =============================================================== */
	#owl-carousel .carousel-content-container-item h2 {
		font-size: 1.7em;
		margin-top: -35px;
	}

	#owl-carousel .carousel-content-container-item p {
		font-size: 0.8em;
	}

	/* Home Page Content */
	/* =============================================================== */
	#home-page-content {
		padding-bottom: 20px;
	}

	#home-page-content h4 {
		font-size: 1.1em;
	}

	#home-page-content p {
		font-size: 0.9em;
	}

	/* Footer */
	/* =============================================================== */
	.footer { padding-bottom: 0px; }
	.footer-column-link { font-size: 11px; }
	.footer-hide { display: none; }
}
